@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-image: -webkit-gradient(radial,
            50% 50%,
            0,
            50% 50%,
            100,
            color-stop(0%, #374566),
            color-stop(100%, #010203));
    background-image: -webkit-radial-gradient(#374566, #010203);
    background-image: -moz-radial-gradient(#374566, #010203);
    background-image: -o-radial-gradient(#374566, #010203);
    background-image: radial-gradient(#374566, #010203);
    font-family: 'Lobster', cursive;
}

span {
    text-transform: uppercase;
}

.container {
    width: 80rem;
    height: 100%;
    padding: 1rem;
    margin: 0 auto;
    position: relative;
}

.balloon {
    width: 67rem;
    margin: 0 auto;
    padding-top: 3rem;
    position: relative;
    font-family: "Wendy One", sans-serif;
}

.balloon>div {
    width: 10.4rem;
    height: 14rem;
    background: rgba(182, 15, 97, 0.9);
    border-radius: 0;
    border-radius: 80% 80% 80% 80%;
    margin: 0 auto;
    position: absolute;
    padding: 1rem;
    box-shadow: inset 17px 7px 10px rgba(182, 15, 97, 0.9);
    -webkit-transform-origin: bottom center;
}

.balloon>div:nth-child(1) {
    background: rgba(182, 15, 97, 0.9);
    left: 6rem;
    box-shadow: inset 1rem 1rem 1rem rgba(135, 11, 72, 0.9);
    -webkit-animation: balloon1 6s ease-in-out infinite;
    -moz-animation: balloon1 6s ease-in-out infinite;
    -o-animation: balloon1 6s ease-in-out infinite;
    animation: balloon1 6s ease-in-out infinite;
}

.balloon>div:nth-child(1):before {
    color: rgba(182, 15, 97, 0.9);
}

.balloon>div:nth-child(2) {
    background: rgba(242, 112, 45, 0.9);
    left: 18rem;
    box-shadow: inset 1rem 1rem 1rem rgba(222, 85, 14, 0.9);
    -webkit-animation: balloon2 6s ease-in-out infinite;
    -moz-animation: balloon2 6s ease-in-out infinite;
    -o-animation: balloon2 6s ease-in-out infinite;
    animation: balloon2 6s ease-in-out infinite;
}

.balloon>div:nth-child(2):before {
    color: rgba(242, 112, 45, 0.9);
}

.balloon>div:nth-child(3) {
    background: rgba(45, 181, 167, 0.9);
    left: 30rem;
    box-shadow: inset 1rem 1rem 1rem rgba(35, 140, 129, 0.9);
    -webkit-animation: balloon4 6s ease-in-out infinite;
    -moz-animation: balloon4 6s ease-in-out infinite;
    -o-animation: balloon4 6s ease-in-out infinite;
    animation: balloon4 6s ease-in-out infinite;
}

.balloon>div:nth-child(3):before {
    color: rgba(45, 181, 167, 0.9);
}

.balloon>div:nth-child(4) {
    background: rgba(190, 61, 244, 0.9);
    left: 42rem;
    box-shadow: inset 1rem 1rem 1rem rgba(173, 14, 240, 0.9);
    -webkit-animation: balloon1 5s ease-in-out infinite;
    -moz-animation: balloon1 5s ease-in-out infinite;
    -o-animation: balloon1 5s ease-in-out infinite;
    animation: balloon1 5s ease-in-out infinite;
}

.balloon>div:nth-child(4):before {
    color: rgba(190, 61, 244, 0.9);
}

.balloon>div:nth-child(5) {
    background: rgba(180, 224, 67, 0.9);
    left: 54rem;
    box-shadow: inset 1rem 1rem 1rem rgba(158, 206, 34, 0.9);
    -webkit-animation: balloon3 5s ease-in-out infinite;
    -moz-animation: balloon3 5s ease-in-out infinite;
    -o-animation: balloon3 5s ease-in-out infinite;
    animation: balloon3 5s ease-in-out infinite;
}

.balloon>div:nth-child(5):before {
    color: rgba(180, 224, 67, 0.9);
}

.balloon>div:nth-child(6) {
    background: rgba(242, 194, 58, 0.9);
    left: -15rem;
    top: 20rem;
    box-shadow: inset 1rem 1rem 1rem rgba(234, 177, 15, 0.9);
    -webkit-animation: balloon4 3s ease-in-out infinite;
    -moz-animation: balloon4 3s ease-in-out infinite;
    -o-animation: balloon4 3s ease-in-out infinite;
    animation: balloon4 3s ease-in-out infinite;
}

.balloon>div:nth-child(6):before {
    color: rgba(242, 194, 58, 0.9);
}

/* ================= 7 ====================== */
.balloon>div:nth-child(7) {
    background: rgba(45, 181, 167, 0.9);
    left: -3rem;
    top: 20rem;
    box-shadow: inset 1rem 1rem 1rem rgba(45, 181, 167, 0.9);
    -webkit-animation: balloon3 5s ease-in-out infinite;
    -moz-animation: balloon3 5s ease-in-out infinite;
    -o-animation: balloon3 5s ease-in-out infinite;
    animation: balloon3 5s ease-in-out infinite;
}

.balloon>div:nth-child(7):before {
    color: rgba(45, 181, 167, 0.9);
}

/* ================= 8 ====================== */
.balloon>div:nth-child(8) {
    background: rgba(242, 58, 165, 0.9);
    left: 9rem;
    top: 20rem;
    box-shadow: inset 1rem 1rem 1rem rgba(242, 58, 165, 0.9);
    -webkit-animation: balloon2 3s ease-in-out infinite;
    -moz-animation: balloon2 3s ease-in-out infinite;
    -o-animation: balloon2 3s ease-in-out infinite;
    animation: balloon2 3s ease-in-out infinite;
}

.balloon>div:nth-child(8):before {
    color: rgba(242, 58, 165, 0.9);
}

/* ================= 9 ====================== */
.balloon>div:nth-child(9) {
    background: rgba(182, 15, 97, 0.9);
    left: 21rem;
    top: 20rem;
    box-shadow: inset 1rem 1rem 1rem rgba(182, 15, 97, 0.9);
    -webkit-animation: balloon4 5s ease-in-out infinite;
    -moz-animation: balloon4 5s ease-in-out infinite;
    -o-animation: balloon4 5s ease-in-out infinite;
    animation: balloon4 5s ease-in-out infinite;
}

.balloon>div:nth-child(9):before {
    color: rgba(182, 15, 97, 0.9);
}

/* ================= 10 ====================== */
.balloon>div:nth-child(10) {
    background: rgba(242, 194, 58, 0.9);
    left: 33rem;
    top: 20rem;
    box-shadow: inset 1rem 1rem 1rem rgba(234, 177, 15, 0.9);
    -webkit-animation: balloon1 6s ease-in-out infinite;
    -moz-animation: balloon1 6s ease-in-out infinite;
    -o-animation: balloon1 6s ease-in-out infinite;
    animation: balloon1 6s ease-in-out infinite;
}

.balloon>div:nth-child(10):before {
    color: rgba(242, 194, 58, 0.9);
}

/* ================= 11 ====================== */
.balloon>div:nth-child(11) {
    background: rgba(234, 15, 15, 0.9);
    left: 45rem;
    top: 20rem;
    box-shadow: inset 1rem 1rem 1rem rgba(234, 15, 15, 0.9);
    -webkit-animation: balloon2 4s ease-in-out infinite;
    -moz-animation: balloon2 4s ease-in-out infinite;
    -o-animation: balloon2 4s ease-in-out infinite;
    animation: balloon2 4s ease-in-out infinite;
}

.balloon>div:nth-child(11):before {
    color: rgba(234, 15, 15, 0.9);
}

/* ================= 12 ====================== */
.balloon>div:nth-child(12) {
    background: rgba(64, 241, 28, 0.9);
    left: 58rem;
    top: 20rem;
    box-shadow: inset 1rem 1rem 1rem rgba(64, 241, 28, 0.9);
    -webkit-animation: balloon1 3s ease-in-out infinite;
    -moz-animation: balloon1 3s ease-in-out infinite;
    -o-animation: balloon1 3s ease-in-out infinite;
    animation: balloon1 3s ease-in-out infinite;
}

.balloon>div:nth-child(12):before {
    color: rgba(64, 241, 28, 0.9);
}

/* ================= 13 ====================== */
.balloon>div:nth-child(13) {
    background: rgba(15, 219, 234, 0.9);
    left: 68rem;
    top: 20rem;
    box-shadow: inset 1rem 1rem 1rem rgba(15, 219, 234, 0.9);
    -webkit-animation: balloon2 6s ease-in-out infinite;
    -moz-animation: balloon2 6s ease-in-out infinite;
    -o-animation: balloon2 6s ease-in-out infinite;
    animation: balloon2 6s ease-in-out infinite;
}

.balloon>div:nth-child(13):before {
    color: rgba(15, 219, 234, 0.9);
}

/* Avatar  */
.avatar {
    cursor: pointer;
    position: absolute;
    top: 34%;
    left: calc(100% + 5rem);
    text-align: center;
}

.avatar__img {
    width: 36rem;
    height: 32rem;
    /* border-radius: 50%;
    border: .5rem solid rgba(234, 15, 150, 0.9);
    box-shadow: inset 1rem 1rem 1rem rgba(15, 219, 234, 0.9); */
    -webkit-animation: balloon1 6s ease-in-out infinite;
    -moz-animation: balloon1 6s ease-in-out infinite;
    -o-animation: balloon1 6s ease-in-out infinite;
    animation: balloon1 6s ease-in-out infinite;
}

.avatar__title {
    cursor: pointer;
    margin-top: -14rem;
    margin-left: -4rem;
    -webkit-animation: balloon1 4s ease-in-out infinite;
    -moz-animation: balloon1 4s ease-in-out infinite;
    -o-animation: balloon1 4s ease-in-out infinite;
    animation: balloon1 4s ease-in-out infinite;
}

.balloon>div:before {
    color: rgba(182, 15, 97, 0.9);
    position: absolute;
    bottom: -1.1rem;
    left: 5.2rem;
    content: "▲";
    font-size: 2rem;
}

span {
    font-size: 6rem;
    color: white;
    position: relative;
    top: 4rem;
    left: 50%;
    margin-left: -1.7rem;
}

/* Button */

.btn {
    position: absolute;
    bottom: 7rem;
    left: 100%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-right,
.btn-left {
    max-width: 13rem;
    max-height: 4.5rem;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 219, 234, 0.9);
    margin: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(122, 122, 122, 1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(122, 122, 122, 1);
    box-shadow: 0px 0px 5px 1px rgba(122, 122, 122, 1);
}


.btn-left>i,
.btn-right>i {
    color: rgba(255, 255, 255, 0.9) !important;
    top: 50%;
    left: 2rem;
    position: absolute;
    transform: translate(0, -50%);
    font-size: 1.5rem;
}

.btn-right>i {
    transform: translate(0px, -50%) rotateY(180deg);
}


.btn-right>a,
.btn-left>a {
    text-decoration: none;
    color: rgb(241, 238, 59);
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
}

.btn-right>a:hover,
.btn-left>a:hover {
    opacity: .8;
    transition: .3s;
}


@media only screen and (max-width: 750px) {

    .btn-right,
    .btn-left {
        max-width: 21rem;
        max-height: 6.5rem;
    }

    .btn-left>i,
    .btn-right>i,
    .btn-right>a,
    .btn-left>a {
        font-size: 3rem;
    }

    .btn-right>a,
    .btn-left>a {
        padding-left: 3rem;
    }

    .swal-text {
        font-size: 4rem !important;
    }

    .avatar {
        top: 65%;
        left: calc(50% - 14rem);
    }

    .btn {
        bottom: 3rem;
        left: 50%;
        justify-content: center;
    }
}


/*BALLOON 1 4*/
@-webkit-keyframes balloon1 {

    0%,
    100% {
        -webkit-transform: translateY(0) rotate(-6deg);
    }

    50% {
        -webkit-transform: translateY(-2rem) rotate(8deg);
    }
}

@-moz-keyframes balloon1 {

    0%,
    100% {
        -moz-transform: translateY(0) rotate(-6deg);
    }

    50% {
        -moz-transform: translateY(-2rem) rotate(8deg);
    }
}

@-o-keyframes balloon1 {

    0%,
    100% {
        -o-transform: translateY(0) rotate(-6deg);
    }

    50% {
        -o-transform: translateY(-2rem) rotate(8deg);
    }
}

@keyframes balloon1 {

    0%,
    100% {
        transform: translateY(0) rotate(-6deg);
    }

    50% {
        transform: translateY(-2rem) rotate(8deg);
    }
}

/* BAllOON 2 5*/
@-webkit-keyframes balloon2 {

    0%,
    100% {
        -webkit-transform: translateY(0) rotate(6deg);
    }

    50% {
        -webkit-transform: translateY(-3rem) rotate(-8deg);
    }
}

@-moz-keyframes balloon2 {

    0%,
    100% {
        -moz-transform: translateY(0) rotate(6deg);
    }

    50% {
        -moz-transform: translateY(-3rem) rotate(-8deg);
    }
}

@-o-keyframes balloon2 {

    0%,
    100% {
        -o-transform: translateY(0) rotate(6deg);
    }

    50% {
        -o-transform: translateY(-3rem) rotate(-8deg);
    }
}

@keyframes balloon2 {

    0%,
    100% {
        transform: translateY(0) rotate(6deg);
    }

    50% {
        transform: translateY(-3rem) rotate(-8deg);
    }
}

/* BAllOON 0*/
@-webkit-keyframes balloon3 {

    0%,
    100% {
        -webkit-transform: translate(0, -10px) rotate(6deg);
    }

    50% {
        -webkit-transform: translate(-2rem, 3rem) rotate(-8deg);
    }
}

@-moz-keyframes balloon3 {

    0%,
    100% {
        -moz-transform: translate(0, -10px) rotate(6deg);
    }

    50% {
        -moz-transform: translate(-2rem, 3rem) rotate(-8deg);
    }
}

@-o-keyframes balloon3 {

    0%,
    100% {
        -o-transform: translate(0, -1rem) rotate(6deg);
    }

    50% {
        -o-transform: translate(-2rem, 3rem) rotate(-8deg);
    }
}

@keyframes balloon3 {

    0%,
    100% {
        transform: translate(0, -1rem) rotate(6deg);
    }

    50% {
        transform: translate(-2rem, 3rem) rotate(-8deg);
    }
}

/* BAllOON 3*/
@-webkit-keyframes balloon4 {

    0%,
    100% {
        -webkit-transform: translate(1rem, -1rem) rotate(-8deg);
    }

    50% {
        -webkit-transform: translate(-1.5rem, 2rem) rotate(10deg);
    }
}

@-moz-keyframes balloon4 {

    0%,
    100% {
        -moz-transform: translate(1rem, -1rem) rotate(-8deg);
    }

    50% {
        -moz-transform: translate(-1.5rem, 1rem) rotate(10deg);
    }
}

@-o-keyframes balloon4 {

    0%,
    100% {
        -o-transform: translate(1rem, -1rem) rotate(-8deg);
    }

    50% {
        -o-transform: translate(-1.5rem, 1rem) rotate(10deg);
    }
}

@keyframes balloon4 {

    0%,
    100% {
        transform: translate(1rem, -1rem) rotate(-8eg);
    }

    50% {
        transform: translate(-1.5rem, 1rem) rotate(10deg);
    }
}

h1 {
    position: relative;
    top: 16rem;
    text-align: center;
    color: white;
    font-size: 6rem;
}

.swal-overlay {
    background-color: rgba(218, 57, 177, 0.45);
}

.swal-text {
    font-size: 2rem;
    font-weight: 200;
    word-spacing: .5rem;
}

/* Hiệu ứng pháo hoa*/
.pyro {
    height: 100%;
}

.pyro>.before,
.pyro>.after {
    position: absolute;
    width: .7rem;
    height: .7rem;
    pointer-events: none;
    z-index: 99999999;
    border-radius: 50%;
    box-shadow: -12rem -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 22rem -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro>.after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-moz-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-o-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-ms-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-webkit-keyframes gravity {
    to {
        transform: translateY(20rem);
        -moz-transform: translateY(20rem);
        -webkit-transform: translateY(20rem);
        -o-transform: translateY(20rem);
        -ms-transform: translateY(20rem);
        opacity: 0;
    }
}

@-moz-keyframes gravity {
    to {
        transform: translateY(20rem);
        -moz-transform: translateY(20rem);
        -webkit-transform: translateY(20rem);
        -o-transform: translateY(20rem);
        -ms-transform: translateY(20rem);
        opacity: 0;
    }
}

@-o-keyframes gravity {
    to {
        transform: translateY(20rem);
        -moz-transform: translateY(20rem);
        -webkit-transform: translateY(20rem);
        -o-transform: translateY(20rem);
        -ms-transform: translateY(20rem);
        opacity: 0;
    }
}

@-ms-keyframes gravity {
    to {
        transform: translateY(20rem);
        -moz-transform: translateY(20rem);
        -webkit-transform: translateY(20rem);
        -o-transform: translateY(20rem);
        -ms-transform: translateY(20rem);
        opacity: 0;
    }
}

@keyframes gravity {
    to {
        transform: translateY(20rem);
        -moz-transform: translateY(20rem);
        -webkit-transform: translateY(20rem);
        -o-transform: translateY(20rem);
        -ms-transform: translateY(20rem);
        opacity: 0;
    }
}

@-webkit-keyframes position {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-moz-keyframes position {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-o-keyframes position {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-ms-keyframes position {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@keyframes position {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}